<div class="page">
    <div class="item-card">
        <!-- HEADER -->
        <div class="item-header">
            <div class="header-left">
                <button
                    pButton
                    icon="pi pi-arrow-left"
                    class="nav-button"
                    pTooltip="Back"
                    tooltipPosition="bottom"
                    (click)="goBack()"
                ></button>

                <h2>Receipt Document</h2>
            </div>

            <div class="actions">
                <div class="actions">
                    <!--button
        pButton
        type="button"
        icon="pi pi-image"
        class="erp-button"
        pTooltip="Upload Image"
        tooltipPosition="bottom"
        (click)="fileInput.click()">
    </button>-->
                </div>

                 <button class="bc-dropdown" (click)="toggleMenu()">▼</button>

                <div class="bc-menu" *ngIf="menuOpen">

                        <div class="bc-menu-item"
                             [class.disabled]="model.status !== 'Open'"
                             (click)="releaseOrder(); toggleMenu()">
                            ✔ Release
                        </div>

                        <div class="bc-menu-item"
                             [class.disabled]="model.status !== 'Released'"
                             (click)="reopenOrder(); toggleMenu()">
                            ↻ Reopen
                        </div>

                    </div>

                <button
                    pButton
                    icon="pi pi-save"
                    class="erp-button"
                    pTooltip="Save"
                    tooltipPosition="bottom"
                    (click)="createItem()"
                ></button>

                <button
                    pButton
                    icon="pi pi-ban"
                    class="erp-button"
                    pTooltip="Cancel"
                    tooltipPosition="bottom"
                ></button>
            </div>
        </div>

        <!-- ITEM SECTION -->

        <div class="section">
            <div class="section-title">General</div>

            <div class="section-grid">
                <!-- LEFT COLUMN -->
                <div>
                    <div class="form-row">
                        <label>No.</label>
                        <input pInputText [(ngModel)]="Item_No" />
                    </div>

                    <div class="form-row">
                        <label>Location Code</label>
                        <input pInputText [(ngModel)]="Description" />
                    </div>

                    <div class="form-row">
                        <label>Document Status</label>
                        <input pInputText [(ngModel)]="model.status" readonly />
                    </div>
                </div>

                <!-- RIGHT COLUMN -->
                <div>
                    <div class="form-row">
                        <label>Vendor Name.</label>
                        <input pInputText [(ngModel)]="UOM" />
                    </div>

                    <div class="form-row">
                        <label>Assignment Date</label>
                        <input pInputText [(ngModel)]="Category_Code" />
                    </div>

                    <div class="form-row">
                        <label>Document Date</label>
                        <input pInputText [(ngModel)]="Alternative_Code" />
                    </div>
                </div>
            </div>
        </div>

        <!-- INVENTORY SECTION -->

        <div class="section">
            <div class="section-title">Lines</div>

            

            <p-table
                [value]="[1, 2, 3]"
                [scrollable]="true"
                scrollHeight="500px"
                styleClass="p-datatable-gridlines"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Source Document</th>
                        <th>Source No.</th>
                        <th>Item No.</th>
                        <th>Description</th>
                        <th>Bin Code</th>
                        <th>Quantity</th>
                        <th>Qty to Received</th>
                        <!--<th>Qty. to Receive</th>-->
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-line>
                    <tr>
                        <td>Purchase Order</td>
                        <td>PO-001</td>
                        <td>
                            <input
                                pInputText
                                [(ngModel)]="Item_No"
                                class="table-input"
                            />
                        </td>
                        <td>
                            <input
                                pInputText
                                [(ngModel)]="Item_No"
                                class="table-input"
                            />
                        </td>
                        <td>
                            <input
                                pInputText
                                [(ngModel)]="Item_No"
                                class="table-input"
                            />
                        </td>
                        <td>
                            <input
                                pInputText
                                [(ngModel)]="Item_No"
                                class="table-input"
                            />
                        </td>
                        <td>
                            <input
                                pInputText
                                [(ngModel)]="Item_No"
                                class="table-input"
                            />    
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
