<p-table 
    #dt1 
    [value]="receipts"
    dataKey="receiptNo"
    [rows]="25"
    [loading]="loading"
    [paginator]="true"
    responsiveLayout="scroll"
    [globalFilterFields]="[
        'receiptNo',
        'companyName',
        'status',
        'vendorName',
        'externalDocumentNo'
    ]">

    <!-- HEADER / TOOLBAR -->
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
            
            <button 
                pButton 
                label="Clear" 
                class="p-button-outlined mb-2" 
                icon="pi pi-filter-slash" 
                (click)="clear(dt1)">
            </button>

            <span class="p-input-icon-left mb-2">
                <i class="pi pi-search"></i>
                <input 
                    pInputText 
                    type="text" 
                    #filter 
                    (input)="onGlobalFilter($any(dt1), $event)"
                    placeholder="Search Receipt" 
                    class="w-full"/>
            </span>

            <button  
                pButton    
                icon="pi pi-plus"    
                class="p-button-outlined"   
                pTooltip="Create Receipt"  
                tooltipPosition="left"   
                routerLink="create">     
            </button>

        </div>
    </ng-template>

    <!-- TABLE HEADER -->
    <ng-template pTemplate="header">
        <tr>

            <th pSortableColumn="receiptNo">
                Receipt No
            </th>

            <th pSortableColumn="companyName">
                Company
            </th>

            <th pSortableColumn="vendorName">
                Vendor
            </th>

            <th pSortableColumn="externalDocumentNo">
                External Doc
            </th>

            <th pSortableColumn="status">
                Status
            </th>

            <th pSortableColumn="receiptDate">
                Date
            </th>

        </tr>
    </ng-template>

    <!-- TABLE BODY -->
    <ng-template pTemplate="body" let-r>
        <tr>

            <td>  
                <a class="qty-link" (click)="openReceipt(r); $event.stopPropagation()">
                    {{ r.receiptNo }}
                </a>
            </td>

            <td>{{ r.companyName }}</td>

            <td>{{ r.vendorName }}</td>

            <td>{{ r.externalDocumentNo }}</td>

            <td>
                <span class="customer-badge status-{{r.status?.toLowerCase()}}">
                    {{ r.status }}
                </span>
            </td>

            <td>
                {{ r.receiptDate | date:'MM/dd/yyyy' }}
            </td>

        </tr>
    </ng-template>

</p-table>