<div class="page">

<div class="item-card">

    <!-- HEADER -->
    <div class="item-header">

        <div class="header-left">

            <button
                pButton
                icon="pi pi-arrow-left"
                class="nav-button"
                pTooltip="Back"
                tooltipPosition="bottom"
                (click)="goBack()">
            </button>

            <h2>Item Card</h2>

        </div>

        <div class="actions">

            <div class="actions">

    <!--button
        pButton
        type="button"
        icon="pi pi-image"
        class="erp-button"
        pTooltip="Upload Image"
        tooltipPosition="bottom"
        (click)="fileInput.click()">
    </button>-->

    
        
            </div>

            <button
                pButton
                icon="pi pi-save"
                class="erp-button"
                pTooltip="Save Item"
                tooltipPosition="bottom"
                (click)="createItem()">
            </button>

            <button
                pButton
                icon="pi pi-ban"
                class="erp-button"
                pTooltip="Cancel"
                tooltipPosition="bottom"
                >
            </button>

            

        </div>

    </div>

    <!-- ITEM SECTION -->

    <div class="section">

        <div class="section-title">Item
            
        </div>
        

        <div class="section-grid">

            <!-- LEFT COLUMN -->
            <div>

                <div class="form-row">
                    <label>No.</label>
                    <input pInputText [(ngModel)]="Item_No">
                </div>

                <div class="form-row">
                    <label>Description</label>
                    <input pInputText [(ngModel)]="Description">
                </div>

                <div class="form-row">
                    <label>Part No.</label>
                    <input pInputText [(ngModel)]="Part_No">
                </div>

                <div class="form-row">
                    <label>Active</label>
                    <p-inputSwitch [(ngModel)]="activeSwitch"></p-inputSwitch>
                </div>               

            </div>


            <!-- RIGHT COLUMN -->
            <div>

                <div class="form-row">
                    <label>UOM</label>
                    <input pInputText [(ngModel)]="UOM">
                </div>

                <div class="form-row">
                    <label>Item Category Code</label>
                    <input pInputText [(ngModel)]="Category_Code">
                </div>

                <div class="form-row">
                    <label>Alternative Code</label>
                    <input  pInputText [(ngModel)]="Alternative_Code">
                </div>

                <div class="form-row">
                    <label>Type</label>
                    <p-dropdown
                        [options]="type"
                        [(ngModel)]="selectedDrop">
                    </p-dropdown>
                </div>

            </div>

        </div>

    </div>


    <!-- INVENTORY SECTION -->

    <div class="section">

        <div class="section-title">Inventory</div>

        <div class="section-grid">

            <!-- LEFT COLUMN -->
            <div>

                <div class="form-row">
                    <label>Shelf No.</label>
                    <input  disabled  pInputText>
                </div>

                <div class="form-row">
                    <label>Quantity on Hand</label>
                    <input pInputText [(ngModel)]="qtyOnHand" disabled class="qty-bold">
                </div>

                <div class="form-row">
                    <label>Qty. on Purch. Order</label>
                    <input pInputText [(ngModel)]="qtyOnPO" disabled class="qty-bold">
                </div>

                <div class="form-row">
                    <label>Projected Kits</label>
                    <input pInputText [(ngModel)]="projectedKits" disabled class="qty-bold">
                </div>

                <div class="form-row">
                    <label>Qty. on Prod. Order</label>
                    <input   pInputText disabled class="qty-bold">
                </div>

            </div>


            <!-- RIGHT COLUMN -->
            <div>

                <div class="form-row">
                    <label>Qty. on Component Lines</label>
                    <input disabled pInputText>
                </div>

                <div class="form-row">
                    <label>Qty. on Sales Order</label>
                    <input pInputText [(ngModel)]="qtyOnSO" disabled class="qty-bold">
                </div>

                <div class="form-row">
                    <label>Stockout Warning</label>
                    <input  pInputText disabled class="qty-bold">
                </div>

                <div class="form-row">
                    <label>Unit Volume</label>
                    <input pInputText [(ngModel)]="unitVolume" disabled class="qty-bold">
                </div>

                <div class="form-row">
                    <label>Over-Receipt Code</label>
                    <input  pInputText disabled class="qty-bold">
                </div>

            </div>

        </div>

    </div>

</div>

</div>